* {
  box-sizing: border-box;
}

@import 'variables';
@import 'price-card';

body {
  display: flex;
  min-height: 100vh;
  padding-top: 65px;
  justify-content: center;

  background: $color-dark;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: $text-color-white;
}

.price-tables {
  height: 770px;
  width: 1176px;
  display: flex;
}