.price-card {
  height: 100%;
  margin-right: 18px;
  position: relative;

  display: flex;
  flex: 0 0 380px;
  flex-direction: column;
  overflow: hidden;

  background-color: $color-dark-green;

  &:last-child {
    margin-left: 0;
  }

  &_best .price-card__badge {
    display: flex;
  }

  &__title {
    padding: 33px 0px;
    text-align: center;

    & > * {
      margin: 0;
    }
  }

  &__main-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
  }

  &__sub-title {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }

  &__badge {
    height: 25px;
    width: 147px;
    position: absolute;
    top: 26px;
    right: -28px;

    display: none;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    background-color: $color-red;

    transform: rotate(45deg);
  }

  &__price {
    padding: 19px 0px;
    text-align: center;

    &_green {
      background-color: $color-green;
    }

    &_blue {
      background-color: $color-blue;
    }

    &_orange {
      background-color: $color-orange;
    }

    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
  }

  &__description {
    margin: 0;
    padding: 40px 26px;
    text-align: center;

    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  }

  

  &__order-btn {
    margin-top: 39px;
    margin-bottom: 40px;

    height: 40px;
    width: 154px;
    align-self: center;

    color: $text-color-white;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;

    border: 0;
    border-radius: 20px;

    &_green {
      background-color: $color-green;
    }

    &_blue {
      background-color: $color-blue;
    }

    &_orange {
      background-color: $color-orange;
    }
  }
}
.options-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li:nth-child(odd) {
    background-color: $color-light-dark;
  }

  &_green &__item {
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png)
      22px 18px no-repeat;
  }

  &_blue &__item {
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png)
      22px 18px no-repeat;
  }

  &_orange &__item {
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png)
      22px 18px no-repeat;
  }

  &__item {
    height: 50px;
    padding-left: 57px;
    display: flex;
    align-items: center;
  }
}
