$color-light-dark: #2a3438;
$color-dark: #141b1c;
$color-white: #fff;
$color-green: #5bb189;
$color-dark-green: #334247;
$color-blue: #3a6ba5;
$color-orange: #ec632a;
$color-red: #dc3f45;

$text-color-white: $color-white;
